{% extends 'ftodo/note_base.html' %}

{% block meta_title %}
{% if object %}Редактирование заметки{% else %}Новая заметка{% endif %}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}{% if object %}<li><a href="{% url 'note_detail' object.id %}">{{ object.title }}</a></li> <li>Редактирование</li>{% else %}<li>Новая</li>{% endif %}
{% endblock %}

{% block title %}
{% if object %}Редактирование заметки{% else %}Новая заметка{% endif %}
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{% endblock %}