{% extends 'ftodo/task_base.html' %}

{% block meta_title %}Обзор{% endblock %}

{% block breadcrumb %}
{{ block.super }}<li>Обзор</li>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h2>Задачи</h2>
    <p><a href="{% url "task_new" %}">new task</a></p>
    {% if old_list %}<p><b>Просроченные</b></p>
    <ul>{% for item in old_list %}
        <li>{{ item.date_due|date:"Y-m-d" }} <a href="{% url "task_detail" item.id %}">{{ item.title }}</a>  (<a href="{% url "task_edit" item.id %}">edit</a>
    <a href="{% url "task_delete" item.id %}">delete</a>)</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% regroup object_list by date_due|date:"Y-m-d" as objects_by_day %}
    {% for day in objects_by_day %}
        <p><b>{{ day.grouper }}</b></p>
        <ul>
        {% for item in day.list %}
        <li>{% if item.completed %}+ {% endif %}<a href="{% url "task_detail" item.id %}">{{ item.title }}</a>  (<a href="{% url "task_edit" item.id %}">edit</a>
    <a href="{% url "task_delete" item.id %}">delete</a>)</li>
        {% endfor %}
        </ul>
    {% endfor %}
    <p><a href="{% url "task_list" %}">all</a></p>

    <h2>Закладки</h2>
    <ul>
        {% for object in bookmarks %}
        <li><a href="{% url "task_detail" object.id %}">{{ object.title }}</a>
        (<a href="{% url "task_edit" object.id %}">edit</a>
        <a href="{% url "task_delete" object.id %}">delete</a>)
        </li>
        {% endfor %}
    </ul>
    <p><a href="{% url "project_list" %}">projects</a> <a href="{% url "goal_list" %}">goals</a> <a href="{% url "note_list" %}">notes</a></p>

    <h2>Теги</h2>
    <ul>
        {% for object in tag_list %}
        <li>({{ object.category }}) <a href="{% url "tasktag_detail" object.id %}">{{ object.title }}</a>
        (<a href="{% url "tasktag_edit" object.id %}">edit</a>
        <a href="{% url "tasktag_delete" object.id %}">delete</a>)
        </li>
        {% endfor %}
    </ul>
    <p><a href="{% url "tasktag_new" %}">new tag</a></p>
{% else %}Welcome! Please, <a href="/accounts/login/">login</a>!{% endif %}

{% endblock %}
