{% extends 'ftodo/task_base.html' %}

{% block meta_title %}{% if object %}Edit task{% else %}New task{% endif %}{% endblock %}

{% block breadcrumb %}
{{ block.super }}{% if object %}<li><a href="{% url 'task_detail' object.id %}">{{ object.title }}</a></li> <li>Редактор</li>{% else %}<li>Новая</li>{% endif %}
{% endblock %}

{% block title %}
{% if object %}Edit task{% else %}New task{% endif %}
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}