{% extends 'ftodo/task_base.html' %}

{% block breadcrumb %}
<a href="/">Главная</a> - <a href="{% url 'task_list' %}">Задачи</a> - Объект
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>

<p>
    <a href="{% url "task_edit" object.id %}">edit</a>
    <a href="{% url "task_delete" object.id %}">delete</a>
</p>

<p>[{% for item in object.tags.all %}<a href="{% url 'tasktag_detail' item.id %}">{{ item.title }}</a> {% endfor %}]</p>
<p>Срок: {{ object.date_due }}</p>
<p>{{ object.content }}</p>

<p><br><br>- <a href="{% url "task_list" %}">back to list</a></p>

{% endblock %}