{% extends 'task_base.html' %}

{% block breadcrumb %}
<a href="/">Главная</a> - Задачи
{% endblock %}

{% block content %}
<h1>Задачи</h1>
<ul>
    {% for item in object_list %}
    <li>{{ item.date_due|date:"Y-m-d" }} {% if item.completed %}+ {% endif %}<a href="{% url "task_detail" item.id %}">{{ item.title }}</a> (<a href="{% url "task_edit" item.id %}">edit</a>
    <a href="{% url "task_delete" item.id %}">delete</a>)</li>
    {% endfor %}
</ul>

<p><a href="{% url "task_new" %}">new</a></p>
<p><a href="{% url "tasktag_list" %}">tags</a></p>
{% endblock %}
