{% extends 'task_base.html' %}

{% block breadcrumb %}
<a href="/">Главная</a> - Список
{% endblock %}

{% block content %}
<h1>Tasks</h1>

    {% regroup object_list by date_due|date:"Y-m-d" as objects_by_day %}
    {% for day in objects_by_day %}
        <p><b>{{ day.grouper }}</b></p>
        <ul>
        {% for item in day.list %}
        <li>{% if item.completed %}+ {% endif %}<a href="{% url "task_detail" item.id %}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}

<p><a href="{% url "task_new" %}">new</a></p>
<p><a href="{% url "tasktag_list" %}">tags</a></p>
{% endblock %}
