{% extends 'tasktag_base.html' %}

{% block breadcrumb %}
<a href="/">Главная</a> - <a href="{% url 'tasktag_list' %}">Теги</a> - Объект
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>

<p>
    <a href="{% url "tasktag_edit" object.id %}">edit</a>
    <a href="{% url "tasktag_delete" object.id %}">delete</a>
</p>

<ul>
    {% for object in object_list %}
    <li>{% if object.completed %}+ {% endif %}<a href="{% url "task_detail" object.id %}">{{ object.title }}</a>
    (<a href="{% url "task_edit" object.id %}">edit</a>
    <a href="{% url "task_delete" object.id %}">delete</a>)
    </li>
    {% endfor %}
</ul>

<p>{{ object.content }}</p>

<p><br><br>- <a href="{% url "tasktag_list" %}">back to list</a></p>

{% endblock %}
